<mat-card>
    Home
</mat-card>

<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="Total Orders" total="345" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Total Expenses" total="267"  [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Total Revenue" total="345"  [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="New Users" total="345" [data]="cards"></app-widget-card>
    </mat-card>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">    
    <mat-card *ngFor="let item of posts" class="example-card" layout-fill>
        <mat-card-title> 
            <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <p>{{item.title}}</p>
        </mat-card-title>
        <mat-card-content fxLayoutAlign="center">          
          <p>{{item.body}}</p>
        </mat-card-content>
      </mat-card>  
</div>
